/* AboutProfile.css */

.about-profile {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    overflow: hidden
}

.profile-container {

    width: 95%;
    display: flex;

    align-items: center;
    justify-content: space-between;
}

/* 왼쪽: 프로필 이미지 */
.profile-image {
    width: 50%;
    height: auto;
    z-index: 1;
}

.profile-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            rgba(22, 22, 22, 0.3) 15%,
            #161616 51%,
            #161616 100%);
    z-index: 2;
}

/* 오른쪽: 텍스트 콘텐츠 */
.profile-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
    z-index: 3;
}

.profile-title {
    font-family: var(--font-main);
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.02em;
    margin-bottom: 38px;
}

.profile-description {
    font-family: var(--font-main);
    font-size: 32px;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: -0.05em;
    color: #fff;
    margin-bottom: 20px;
}

.profile-motto {
    font-family: var(--font-main);
    font-size: 32px;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: -0.05em;
    color: #fff;
    margin-bottom: 130px;
}

.profile-cta {
    align-self: flex-start;
    padding: 6px 18px;
    border: 1px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    font-family: var(--font-main);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* 반응형 */
@media (max-width: 1024px) {
    .about-profile {
        padding: 60px 40px;
        height: auto;
        min-height: 100vh;
    }

    .profile-container {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .profile-title {
        font-size: 32px;
    }

    .profile-motto {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .about-profile {
        padding: 40px 24px;
    }

    .profile-title {
        font-size: 28px;
    }

    .profile-description {
        font-size: 16px;
    }
}