.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);

}

.logo {
    font-family: var(--font-display);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

.header nav ul {
    display: flex;
    gap: 77px;
}

.header nav a {
    font-family: var(--font-main);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: opacity 0.3s;
}

.header nav a:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .header {
        padding: 20px;
    }

    .header nav {
        display: none;
        /* Mobile menu implementation usually goes here */
    }
}