/* SimpleTimeline.css */

.simple-timeline {
    width: 100%;
    height: 100vh;
    background-color: #0f0d0d;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.svg-container {
    width: 5611px;
    /* SVG 원본 너비 그대로 */
    height: 100vh;
    display: flex;
    align-items: center;
    will-change: transform;
}

.svg-container svg {
    width: 100%;
    height: auto;
    max-height: 80vh;
}