:root {
  --color-bg: #161616;
  --color-text: #ffffff;
  --color-accent: #ffffff;
  --font-main: "Pretendard Variable", ...;
  /* 생략 */

  --scrollbar-track: #161616;
  --scrollbar-thumb: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  transition: background 0.6s ease;
  /* 배경색 전환 부드럽게 */
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
  transition: background 0.6s ease;
  /* 엄지 부분 전환 부드럽게 */
}